.admin-panel {
  position: relative;
  color: var(--text01);
}

.admin-panel__header {
  display: flex;
  width: 100%;
  top: 0;
  background-color: var(--uiMainNav01);
  z-index: 20;
}

.admin-panel__symbol {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 40px;
  font-size: 28px;
  font-weight: 600;
  color: var(--iconInteractive01);
}

.admin-panel__main-navigation {
  display: flex;
  width: 100%;
  height: 40px;
  color: var(--text04);
}

.admin-panel__main-navigation-tab {
  height: 100%;
  padding: 11px 32px 0 32px;
  border-left: 1px solid var(--ui05);
  cursor: pointer;
}

.admin-panel__main-navigation-tab:last-child {
  border-right: 1px solid var(--ui05);
}

.admin-panel__main-navigation-tab:hover {
  color: var(--text05);
  background-color: var(--uiMainNav04);
}

.admin-panel__main-navigation-tab--active {
  color: var(--text05);
  background-color: var(--uiMainNav04);
}

.admin-panel__main-content {
  position: relative;
  /* width: fit-content; */
  height: calc(100vh - 112px);
  border-bottom: 1px solid var(--ui02);
  overflow: auto;
}

thead,
tr,
tbody {
  display: contents;
}

th {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  text-align: left;
  padding: 8px 16px;
  background-color: var(--datavizAccent01Add01);
  border-top: 16px solid var(--uiBackgroundWhite);
  z-index: 10;
}

th:not(:last-child) {
  border-right: 1px solid var(--uiBackgroundWhite);
}

td {
  background-color: var(--uiBackgroundWhite);
}

tr:nth-child(even) > td {
 background-color: var(--uiBackgroundGrey);
}

tr:hover > td {
  background-color: var(--ui01);
}
