.legal-entities-table__table {
  display: grid;
  grid-template-columns: 54px 200px 216px 192px 128px 136px 160px 160px 200px 200px 160px 128px 168px;
  grid-template-rows: auto;
  width: fit-content;
}

.legal-entities-table__checkbox-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.legal-entities-table__footer {
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 1136px;
  height: 72px;
}

.legal-entities-table__remove-entities-button {
  margin-left: 56px;
  margin-right: 16px;
}

.legal-entities-table__add-entity-button {
  margin-right: 384px;
}

.legal-entities-table__save-changes-button {
  margin-left: auto;
  margin-right: 0;
}

.legal-entities-table__modal-cancel-button {
  margin-right: 40px;
}
