.legal-entities-table__table {
  display: grid;
  grid-template-columns: 54px 200px 216px 192px 128px 136px 160px 160px 200px 200px 160px 128px 168px;
  grid-template-rows: auto;
  width: fit-content;
}

.legal-entities-table__checkbox-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
