.users-table__table {
  display: grid;
  grid-template-columns: 54px 160px 216px 256px 256px 256px;
  grid-template-rows: auto;
  width: fit-content;
}

.users-table__checkbox-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.users-table__footer {
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 1136px;
  height: 72px;
}

.users-table__remove-users-button {
  margin-left: 56px;
  margin-right: 16px;
}

.users-table__save-changes-button {
  margin-left: auto;
  margin-right: 0;
}

.users-table__modal-cancel-button {
  margin-right: 40px;
}
