.text-input__wrapper {
  position: relative;
}

.text-input {
  width: 100%;
  color: var(--text01);
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  border: none;
  background-color: rgba(255, 255, 255, 0);
}

.text-input__label {
  display: flex;
  align-items: center;
  position: relative;
  width: fit-content;
  color: var(--text01);
  font-weight: var(--label01Weight);
  font-size: var(--label01Size);
  line-height: var(--label01Height);
  letter-spacing: var(--label01Spacing);
}

.text-input--error {
  padding-right: 24px;
  border-color: var(--support01);
  background-position: right;
  background-size: 14px 14px;
  background-repeat: no-repeat;
}

.text-input:focus {
  border-bottom: 1px solid var(--focus);
}

.text-input::placeholder {
  color: var(--text03);
}

.text-input__error-message {
  margin-top: 8px;
  color: var(--support01);
  font-weight: var(--caption01Weight);
  font-size: var(--caption01Size);
  line-height: var(--caption01Height);
  letter-spacing: var(--caption01Spacing);
}

.text-input__help-message {
  margin-top: 8px;
  color: var(--text03);
  font-weight: var(--caption01Weight);
  font-size: var(--caption01Size);
  line-height: var(--caption01Height);
  letter-spacing: var(--caption01Spacing);
}

.text-input--disabled .text-input {
  color: var(--text04);
  border-color: var(--disabled02);
  cursor: not-allowed;
}


.text-input--disabled .text-input__label {
  color: var(--text04);
  cursor: not-allowed;
}


.text-input--disabled .text-input::placeholder {
  color: var(--text04);
  cursor: not-allowed;
}
