.ellipsis-container {
  max-width: 100%;
  position: relative;
  display: flex;
}

.ellipsis-tooltip {
  display: inline-block;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.ellipsis-tooltip__popup {
  padding: 16px 0;
  z-index: 10;
}

.ellipsis-tooltip__popup--bottom {
  top: 12px;
}

.ellipsis-tooltip__popup--top {
  bottom: 12px;
}

.ellipsis-tooltip__popup--left {
  left: 0;
}

.ellipsis-tooltip__popup--right {
  right: 0;
}
