.accounts-monitoring-table__table {
  display: grid;
  grid-template-columns: 104px 232px 216px 128px 128px 120px 160px 160px 120px 96px 120px 148px 128px 120px 160px 136px 136px 136px 160px 120px 192px 192px 160px 160px 160px 160px;
  grid-template-rows: auto;
  width: fit-content;
}

th:nth-child(2) {
  position: sticky;
  left: 0;
  z-index: 100;
}

.accounts-monitoring-table__footer {
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 1136px;
  height: 72px;
}

.accounts-monitoring-table__save-changes-button {
  margin-left: auto;
  margin-right: 0;
}

.accounts-monitoring-table__modal-cancel-button {
  margin-right: 40px;
}
